*{
    overflow-x: hidden;
    

}
body{
    background:#151515;
    overflow: hidden;
    
}
.heading{
    font-family: 'Lobster', cursive;

}


#bannerSection{
 
   
    background:black;
    color:white;
    padding-top:100px;
}
/*
======================
Main section styling 
======================
*/

.topPlayerWord{
    font-family: 'Lobster', cursive;
    font-size:30px;
    font-weight:900;

}

#perPlayerPrice{
    background:black;
    color:white ;
    display:inline;
    width:70px;
    padding:0 5px;
    border:1px solid white;
    margin-left:5px;
    margin-bottom:10px;
}
.expense{
    margin-left:15px;
}
#mangerInput{
    background:black;
    color:white ;
    display:inline;
    width:90px;
    padding:0 5px;
    border:1px solid white;
    margin-top:5px;
    margin-bottom:10px;
    
}
#calculateBtn{
    width:200px;
}
#calculateTotal{
  width:200px;
   margin-top:10px;
   margin-bottom:10px;
}

.manager, .coach, .playerExpense, .perPlayer, .total{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}
.singleCard{
    text-align:center !important;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.singleCard img{
   height:40vh;
    object-fit:cover;
    width:100%;
    background:black;   
    text-align:center !important;
}


.header-section{
    overflow-y: hidden;
    overflow-x: hidden;
}
#managerCoast, #coachCoast{
    width:100px;
    background:black;
    border:1px solid white ;
    color:white ;
}
#ul li{
    list-style-type:number;
}
/*
==================
Footer styling
==================
*/
#footerSection{
    color:white ;
    background:black;
    text-align:center;
    padding: 50px 0;

}
#footerSection h5{
    font-size:20px;
}

.selectedToCard{
    width:100%; height:40vh; background:#202529; margin-bottom:5px
}


@media only screen and (max-width:767px){
    .singleCard img{
        height:70vh;
        
     }

}
