*{
  

    overflow-x: hidden;
    

}
body{
    background:#151515;
    overflow: hidden;
}
.heading{
    font-family: 'Lobster', cursive;

}


#bannerSection{
 
   
    background:black;
    color:white;
    padding-top:100px;
}
/*
======================
Main section styling 
======================
*/

.topPlayerWord{
    font-family: 'Lobster', cursive;
    font-size:30px;
    font-weight:900;

}

#perPlayerPrice{
    background:black;
    color:white ;
    display:inline;
    width:90px;
    padding:0 5px;
    border:1px solid white;
    margin-left:5px;
    margin-bottom:10px;
}
.expense{
    margin-left:15px;
}
#mangerInput{
    background:black;
    color:white ;
    display:inline;
    width:90px;
    padding:0 5px;
    border:1px solid white;
    margin-top:5px;
    margin-bottom:10px;
    
}
#calculateTotal{
   width: 100%;
   margin-top:10px;
   margin-bottom:10px;
}

.manager, .coach, .playerExpense, .perPlayer, .total{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

.singleCard img{
    height:40vh;
    object-fit:cover;
    width:100%;
    background:black;
}

.header-section{
    overflow-y: hidden;
    overflow-x: hidden;
}
#managerCoast, #coachCoast{
    width:100px;
    background:black;
    border:1px solid white ;
    color:white ;
}
#ul li{
    list-style-type:number;
}